#website_body{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 2em;
	margin: 0;
	background: url(html_img/body_background2.jpg) center center no-repeat;
	background-size: cover;   /*set background-size: cover; to cover the whole body of the page*/
}

#nav-bar a{
	text-decoration: none;
	color: red;
}

 #nav-bar a:hover{
	color:white;
}


.container{
	width: 80%;
	margin: auto;     /*center a block block block(ex: div) element*/
	font-style: bold;
	font-family: Tahoma;
	overflow: hidden;  /*Eliminate the white space between the page & head & nav & section*/
}

#main-header{
	color: white;
	background-color: #B8860B;
	opacity: 1;
	height: 100px;

}

#web-img{
	float: left;
	width: 8%;
	height: 100px;
	border-radius: 10px;
}


#main-header h1{
	padding-top: 15px;
	float: right;
	width: 90%;

}

#nav-bar{
	background-color: black;
}

#nav-bar ul{
	list-style: none;
	padding-left: 5px;

}

#nav-bar li{
	display: inline-block;   /*allow the li to change in width and height*/
	display: inline;
	padding-right: 50px;
}

#showcase{
	min-height: 200px;
	text-align: center;
	background-image: url(html_img/background.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	color: bisque;
}

#showcase h1{
	font-size: 25px;
	padding-top: 65px;
}

.main-block{
	background-color: cornsilk;
	float: left;
	width: 65%;
	border: 1px cornsilk solid;
	box-sizing: border-box;
}

.side-block{
	background-color: skyblue;
	float: right;
	width: 30%;
	border: 1px skyblue solid;
	box-sizing: border-box;
}

.side-block li{
	list-style: square;
}

#main-footer{
	background-color: black;
	text-align: center;
	color: white;
	padding: 20px;
	margin-top: 30px;
}

.clr{
	clear: both;      /*reset the float to a normal block so that the next block will start correctly*/
}

.checkbox-edit{
	color: goldenrod;
	font-weight: bold;
	font-size: 15px;
	font-family: Arial, sans-serif;
	padding: 10px;
}

.button{
	width: 70px;
	background-color: aqua;
}

#contact-sidebar{
	position: fixed;
	top: 100px;
	border: 1px dashed cornsilk;
	outline: 2px solid brown;
}

#contact-sidebar a{
	text-decoration: none;
	color: black;	
}

#contact-sidebar a:hover{
	color: violet;
}

/*About & Infomation*/

#info_body{
	background-image:url(html_img/background1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}

#info_header{
	background-color: tan;
	overflow: hidden;
	height: 80px;
	min-width: 100%;
}



#info_header h1{
	color: black;
	text-align: center;
}

#info_nav img{
	width: 200px ;
	height: 80px;
}

@media(max-width: 800px){
	#study_info1 div, #study_info2 div, #study_info3 div{
		height: 300px;
		padding: 5px;
	}
}

@media(min-width: 800px){
	
	.info_container1, .info_container2, .info_container3{
		height: 300px;
		position: relative;
	}

	#study_info1{
		display: flex;
		justify-content: center;
		width: 70%; 
		position: absolute;
		left:10px;    /*neu de left 50px thi khi shrink page tu ben left, box se correspond vs page*/
	}

	#study_info2{
		display:flex;
		width: 70%;
		position: absolute;
		top:8px;
		right: 0px;    /*set right: 0px because the page will shrink from the right. If left: 400px then page ko shrink dc*/
		
	}

	#study_info3{
		display: flex;
		width: 70%;
		position: absolute;
		left:190px;
	}

	#study_info1 div, #study_info2 div, #study_info3 div{
		padding: 5px;
	}
}

.images{
	background-image: url(html_img/dtd.jpg);
	background-size: 100% 100%;      /*fit the box*/
	background-position: center center;
	flex: 1;
	}

.images2{
	background-image: url(html_img/gv.jpg);
	background-size: 100% 100%;
	background-position: center center;
	flex: 1;
}

.images3{
	background-image: url(html_img/hsgs.jpg);
	background-size: 100% 100%;
	background-position: center center;
	flex: 1;
}

.study1, .study2, .study3{
	flex:1;
}

.study1 a, .study2 a, .study3 a{
	text-decoration: none;
	color: red;
}


